In [19]:
#write a programme to interchange first and last element  in a list 
A = ["apple", "Banana", "calm", "peace", "War"]
A[0],A[-1]=A[-1],A[0]
print(A)

['War', 'Banana', 'calm', 'peace', 'apple']

In [24]:
#write programme to Swap element  in list
A = ["A", "B", "C", "D", "E", "F"]
A[1],A[-1]=A[-1],A[1]
print(A)

['A', 'F', 'C', 'D', 'E', 'B']

In [5]:
#Write a swap element in string
s = "abcde"

s = s[-1] + s[1:-1] + s[0]

print(s)

ebcda

In [5]:
#way to find lenght in list 

list = ["Apple", "Dog", "Cat", 1, 2, 3, 4, 5, 6, True]
print(list)
print(len(list))

['Apple', 'Dog', 'Cat', 1, 2, 3, 4, 5, 6, True]
10

In [67]:
#maximum two number in python 
a = 5000000
b = 100000
if (a<b):
    print("maximum number of", b)
else:
    print("maximum number of",a)

maximum number of 5000000

In [ ]:
#minimum tow number in python
a = 1
b = 2
if a<b:
    print("minimum number is", a)
else:
    print("minimum number is",b)

In [71]:
a = int(input("Enter a number: "))
b = int(input("Enter a number: "))

if a<b:
        print("Maximum number of",b)
else:
        print("Maximum number of", a)

Enter a number:  23
Enter a number:  45

Maximum number of 45

In [153]:
#way to check if element is exist or not in list
list = ["Life is All", "Power of Magic", "Apple","A", 1, 2, 3, 4, 5]
a = "A"
if a in list:
    print("found")
else:
    print("Not found")

Not found

In [ ]:
list = ["Life is All", "Power of Magic", "Apple", "A", 1, 2, 3, 4, 5]
a = int(input("Enter a elemet; "))
if a in list:
    print("found",a)
else:
    print("not found",a)

In [7]:
#Reversing a list 
a = [1, 2, 3, 4, 5]
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [9]:
#clonning or copying a list
a = [1, 2, 3, 4, 5]
a.copy()
print(a)

[1, 2, 3, 4, 5]

In [17]:
#count occurence of element in a list 
a = [1, 2, 3, 4, 2, 2, 3]
x = a.count(3)
print(x)

2

In [33]:
#programm to find sum and average of list in python
a = [1, 2, 3, 4]
count = sum(a)
avg = count/len(a)
print("sum", count)
print(avg)

sum 10
2.5

In [29]:
#sum of number digit in list
a = [1, 2, 3, 4]
x = sum(a)
print(x)

10

In [41]:
#multiply all number in the list
a = [5, 2, 3, 4, 5]
b = 1
for i in a:
    b = b * i
print(b)

600

In [49]:
# find smallest number in a list 
a = [1, 2, 3, 4, 5]
b = min(a)
print(b)

1

In [51]:
# find largest number in a list
a = [1, 2, 3, 4, 5, 6, 7]
b = max(a)
print(b)

7

In [57]:
#find second largest number in list

7

In [3]:
#find even number in list
a = [5, 3, 9, 1, 8, 6, 4, 3, 5]
even_number = [num for num in a if num % 2 == 0]
print(even_number)

[8, 6, 4, 6]

In [5]:
#find odd number in list
a = [5, 3, 9, 1, 8, 6, 4, 3, 5]
even_number = [num for num in a if num % 2 != 0]
print(even_number)

[5, 3, 9, 1, 3, 5]