In [ ]:
#set 
# it is mutable only allowed add remove   
# it is unordered 
# it is not allowed dublicate values 
# it is collection of unique element 
#it is not allowed indexing we can not access element using indexing 
# it is not add string

In [11]:
set = {1, 2, 3, 4, 5, 6, 8, 7,"AdI", True}
print(set)

{1, 2, 3, 4, 5, 6, 7, 8, 'AdI'}

In [9]:
set = (1, 2, 3, 4, 5, 6, 8, 7,"AdI", True)
print(set)

(1, 2, 3, 4, 5, 6, 8, 7, 'AdI', True)

In [21]:
#operate set
set = {1, 2, 3, 4, 5, 6, 7, 8, 10, 9}
set.add(12)
print(set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12}

In [31]:
#remove me agar set me value nahi voh remove kar rahe hai to error aayega 
set = {1, 2, 3, 4, 5, 6, 7, 8, 10, 9, "A", "B", "C", "D", "E"}
set.remove("A")
print(set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'B', 'D', 'E', 'C'}

In [33]:
set = {1, 2, 3, 4, 5, 6, 7, 8, 10, 9, "A", "B", "C", "D", "E"}
set.remove(2) 
print(set)

{1, 3, 4, 5, 6, 7, 8, 9, 10, 'B', 'D', 'E', 'C', 'A'}

In [35]:
#discard  set me element nahi hai agar aap remove kar rahe hai woh element nahi toh error nahi aayega 
set = {1, 2, 3, 4, 5, 6, 7, 8, 10, 9, "A", "B", "C", "D", "E"}
set.discard(12)
print(set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'B', 'D', 'E', 'C', 'A'}

In [37]:
set = {1, 2, 3, 4, 5, 6, 7, 8, 10, 9, "A", "B", "C", "D", "E"}
print(len(set))

15

In [75]:
#clear
set = {1, 2, 3, 4, 5, 6, 7, 8, 10, 9, "A", "B", "C", "D", "E"}
set.clear()
print(set)

set()

In [77]:
#copy
set = {1, 2, 3, 4, 5, 6, 7, 8, 10, 9, "A", "B", "C", "D", "E"}
set.copy()
print(set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'B', 'D', 'E', 'C', 'A'}

In [101]:
#isdisjoint(): Returns True if two sets have no elements in common
# set1 = {1, 2, 3}
# set2 = {4, 5, 6, 7, 8}
# print(set1.isdisjoint(set2))  # Output: True

#commoon element hai 
set1 = {1, 2, 3}
set2 = {2, 4, 5}
print(set1.isdisjoint(set2))

False

In [107]:
#issubset(): Returns True if all elements of the first set are in the second set.
# set1 = {1, 2, 3}
# set2 = {1, 2, 3, 4 ,5}
# print(set1.issubset(set2))

#set1 ke saare element set2 me nahi hai 
set1 = {1, 2, 3}
set2 = {1, 2, 4 ,5}
print(set1.issubset(set2))

False

In [115]:
#issuperset(): Returns True if all elements of the second set are in the first set.
set1 = {1, 2, 3, 4, 5, 6}
set2 = {1, 2, 3, 4 ,5}
print(set1.issuperset(set2))

# set2 ke saare element set1 me hone chahiye 
set1 = {1, 2, 3}
set2 = {1, 2, 4 ,5}
print(set1.issuperset(set2))

True
False

In [121]:
# Finding Common Elements in Two Lists:
# You can convert lists to sets and use the intersection operation to find common elements.

list1 = [3, 4, 5, 7, 8, 9]
list2 = [1, 2, 3, 4, 5, 6]
common_element = set(list1) & set(list2)
print(common_element)

TypeError: 'set' object is not callable

In [125]:
allowed_ids = {1001, 1002, 1003}
user_id = 1004  #change it
if user_id in allowed_ids:
    print("Access granted")
else:
    print("Access denied")

Access denied

#check if element is exist in set 
set = {1, 2, 3 ,"Apple"}
print(2 in set)
print(1 in set)
print(4 in set)
print("Apple" in set)

In [57]:
#mathematical set operator 
#union sign |   #add 
set1 = {1, 2,  3, 4, 5}
set2 = {6, 7, 8, 9}
#new = set1 | set2
set1.union(set2)
#print(new)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [61]:
#intersection &  mean common elemnet
set1 = {1, 2,  3, 4, 5}
set2 = {6, 7, 8, 9, 10, 1, 2, 3}
#new  = set1 & set2
print(new)

{1, 2, 3}

In [63]:
set1 = {1, 2,  3, 4, 5}
set2 = {6, 7, 8, 9, 10, 1, 2, 3}
set1.intersection(set2)

{1, 2, 3}

In [71]:
#difference sign -   # isme set1 ka voh element aayega jo set2 match nahi karta hai 
set1 = {1, 2, 3, 4, 5, 6, 7}  
set2 = {1, 2, 3, 4, 5, 6}
new = set1-set2
print(new)

{7}

In [73]:
set1 = {1, 2, 3, 4, 5, 6, 7}
set2 = {1, 2, 3, 4, 5, 6}
set1.difference(set2)

{7}

In [135]:
#Dictionary
# it is mutable 
# it is collection of item like list snd tuple and in dictionary key value pair 
dict = {
    "Russia":"Moscow",
    "Italy": "Rom",
    "China": "bejing",
    "USA": "Washington D C"
}

print(dict)
print(type(dict))
print(len(dict))

{'Russia': 'Moscow', 'Italy': 'Rom', 'China': 'bejing', 'USA': 'Washington D C'}
<class 'dict'>
4

In [168]:
# Access element in dicitonary are two method get() and key 
# We can not access element in dictinary by indexing
dict = {
    "Russia":"Moscow",
    "Italy": "Rom",
    "China": "bejing",
    "USA": "Washington D C"
}
#print(dict["Russia"])
#print(dict["Italy"])

# new = dict["Russia"]
# print(new)

#get() it is return value of specific key in the dictionary
dict = {
    "Russia":"Moscow",
    "Italy": "Rom",
    "China": "bejing",
    "USA": "Washington D C"
}

# new = dict.get("China")
# print(new)

print("Name: ",dict.get("Russia"))
print("Salary: ", dict.get("Russia", 000.11))

Name:  Moscow
Salary:  Moscow

In [172]:
#Add Element
dict = {
    "Russia":"Moscow",
    "Italy": "Rom",
    "China": "bejing",
    "USA": "Washington D C"
}

dict["French"] = "Paris"
print(dict)

{'Russia': 'Moscow', 'Italy': 'Rom', 'China': 'bejing', 'USA': 'Washington D C', 'French': 'Paris'}

In [210]:
#check element exist or not
#it is check key 
dict = {
    "Russia":"Moscow",
    "Italy": "Rom",
    "China": "bejing",
    "USA": "Washington D C"
}

# print("Russia" in dict)
# print("Japan" in dict)
# print("China" not in dict)

# if "China" in dict:
#     print("It is present in dict")
# else:
#     print("it is not present dict")


# for i in dict:
#     if "China" in dict:
#         print ("it is present")
#     else:
#         print("it  is not present in dict")


# for i in dict:
#     print(f"{i} {dict[i]}")

Russia Moscow
Italy Rom
China bejing
USA Washington D C

In [218]:
#change the value
dict = {
    "Russia":"Moscow",
    "Italy": "Rom",
    "China": "bejing",
    "USA": "Washington D C"
}
# dict["Russia"]="SantPeterberg"
# print(dict)

#update
dict.update({"Russia":"Sant"})
print(dict)

{'Russia': 'Sant', 'Italy': 'Rom', 'China': 'bejing', 'USA': 'Washington D C'}

In [236]:
# we can use remove pop del
dict = {
    "Russia":"Moscow",
    "Italy": "Rom",
    "China": "bejing",
    "USA": "Washington D C"
}

# del dict
# print(dict)


# del dict["China"]
# print(dict)

# dict.pop("China")
# print(dict)

dict.clear()
print(dict)

{}